*{margin: 0;
padding: 0;}
.thanhxanh{
    width: 100%;
    padding-left: 800px;
    background: #3578E5;
    height: 43px;
}
.khoi{
    display: flex;
}
.khoicon{
    width: 70px; 
    position: relative;
}
.click{
    position: absolute;
    font-size: 20px;
    padding-top: 7px;
    cursor: pointer;
    transition: 0.4s;
}
.hienthi{
    width: 200px;
    position: absolute;
    top: 43px;
    left: -150px;
    font-size: 13px;
    font-family: Arial;
    opacity: 0;
    visibility: hidden;
}
.hienthi:after{
    content: " ";
    position: absolute;
    top: -17px;
    width: 0;
    height: 0;
    right: 50px;
    border: 9px solid rgba(255, 217, 0, 0);
    border-bottom-color: white;
}
.mautrang{
    color: white;
}
.ra{
    opacity: 1;
    visibility: visible;
}