*{margin: 0;
padding: 0;}
.menu{
    background: rgba(128, 128, 128, 0.589);
    padding: 41px;
    position: fixed;
    width: 100%;
}
.col-sm-8{
    
}
.trai{
    font-size: 40px;
    font-weight: bold;
}
.phai{
    padding-top: 20px;
}
.phai a{
    text-decoration: none;
    padding: 40px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: red;
}
.nholai{
    padding-top: 0px;
    padding: 10px 0;
    font-size: 20px;
}
.benphai{
    padding-top: 10px;
}